.usernameGreeting {
    text-align: center;
    margin-top: 10px;
}

.admin-create-button {
    margin-left: 15px;
    margin-right: 20px;
}

table {
    width: 100%;
}

.mat-column-right {
    text-align: center;
}

.container-dashboard-main {
    display: inherit;
}

.main-column {
    font-weight: bold;
}

.mat-header-row.cdk-header-row {
    background-color: #f5f5f5;
}

th {
    color: black;
}

.projects-search {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.projects-search input{
    width: 100%;
}