<form [formGroup]="addClientFormGroup" class="add-client-form">
    <mat-form-field class="new-form-field">
        <mat-label>Client Name</mat-label>
        <input matInput type="text" formControlName="name" #name>
    </mat-form-field>

    <mat-form-field class="new-form-field">
        <mat-label>Client Email</mat-label>
        <input matInput type="email" formControlName="email" #email>
    </mat-form-field>

    <mat-form-field class="new-form-field">
        <mat-label>Client Telephone</mat-label>
        <input matInput type="telephone" formControlName="telephone" #telephone>
    </mat-form-field>

    <button id="submitButton" type="submit"
        (click)="addClient(name.value, email.value, telephone.value)"
        mat-raised-button color="primary"
        class="button-submit-project"><i class="fas fa-check"></i> <span i18n class="button-text">OK</span></button>
</form>