.add-client-form {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.new-form-field{
    width: 100%;
}

.button-submit-project {
    margin-left: 0px;
    background-color: green;
    color: white;
}

.button-text{
    margin-left: 5px;
}
