.admin-button{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-title{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;

}

.button-title{
    margin-left: 5px;
}