#Copy this file to the file name emailCredentials.txt and add there your credentials and settings 
emailHost==YOUR_SMTP_SERVER
emailPort==465
emailSecure==true
emailUser==YOUR_EMAIL_ACCOUNT_USERNAME
emailPassword==YOUR_EMAIL_ACCOUNT_PASSWORD