#Copy this file to the file name emailCredentials.txt and add there your credentials and settings 
smsAPIKey==YOUR_API_KEY
smsAPISecret==YOUR_API_SECRET
smsApplicationId==YOUR_API_ID
smsPrivateKeyPath==YOUR_PRIVATE_KEY_PATH
smsSignatureSecret==YOUR_SIGNATURE_SECRET
smsSignatureMethod==YOUR_SIGNATURE_METHOD
smsNexmoVirtualNumber==YOUR_VIRTUAL_NUMBER